<h1>Ayuda</h1>
<p>
Se trata de una red social de acertijos o preguntas. Los usuarios podr치n a침adir preguntas y subirlas al portal. Para contestar a cada pregunta se presionar치 sobre la elegida, y tras escribir una respuesta se podr치 comprobar si es correcta o no.
</p>
